// colors
$color-dark: #000;
$color-light: #fff;
$color-main: #BEA67C;
$color-gray: rgb(132, 127, 127);

// text
$font-text: 'Source Sans 3', sans-serif;

$font-regular: 400;
$font-semibold: 600; // italic
$font-bold: 700;
$font-black: 900;

